<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Personal Site</title>
    <style>
      /* table {
        border: 1px solid #000;
      } */
    </style>
  </head>
  <body>
    <table cellspacing="25">
      <tr>
        <td><img width="150px" height="150px" src="../../../assets/images/Elton John.png" alt="pic" /></td>
        <td>
          <h1>Igal Leibovich</h1>
          <p>Senior Software Engineer with over 20 years of development experience.</p>
        </td>
      </tr>
    </table>

    <hr size="3" noshade />
    <h3>Skills</h3>
    <table>
      <tr>
        <td>
          <table cellspacing="10">
            <tr>
              <td>React</td>
              <td>⭐⭐⭐⭐⭐</td>
            </tr>
            <tr>
              <td>JavaScript</td>
              <td>⭐⭐⭐⭐</td>
            </tr>
            <tr>
              <td>Typescript</td>
              <td>⭐⭐⭐</td>
            </tr>
            <tr>
              <td>HTML</td>
              <td>⭐⭐⭐</td>
            </tr>
            <tr>
              <td>CSS</td>
              <td>⭐⭐⭐</td>
            </tr>
          </table>
        </td>
        <td>
          <table cellspacing="10">
            <tr>
              <td>Node.js</td>
              <td>⭐⭐</td>
            </tr>
            <tr>
              <td>IOS Swift</td>
              <td>⭐</td>
            </tr>
            <tr>
              <td>SQL Server</td>
              <td>⭐⭐⭐⭐</td>
            </tr>
            <tr>
              <td>.NET C#</td>
              <td>⭐⭐⭐</td>
            </tr>
            <tr>
              <td>WPF</td>
              <td>⭐⭐⭐</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
  <hr size="3" noshade />    
    <h3>Work Experience</h3>
    <table border="1px solid">
      <thead>
        <tr>
          <th>Dates</th>
          <th>Work</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2021 – 2022</td>
          <td>Full-stack Developer at A.Z Software</td>
        </tr>
        <tr>
          <td>2020 – 2021</td>
          <td>Full-stack Developer at CityShob Software</td>
        </tr>
        <tr>
          <td>2019 – 2020</td>
          <td>Frontend web developer at Bright Machines</td>
        </tr>
      </tbody>
    </table>
    <br>
    <a href="contact-me.html">Contact me</a>
  </body>
</html>
