<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Skills</h3>
    <table>
      <tr>
        <td>
          <table cellspacing="10">
            <tr>
              <td>React</td>
              <td>⭐⭐⭐⭐⭐</td>
            </tr>
            <tr>
              <td>JavaScript</td>
              <td>⭐⭐⭐⭐</td>
            </tr>
            <tr>
              <td>Typescript</td>
              <td>⭐⭐⭐</td>
            </tr>
            <tr>
              <td>HTML</td>
              <td>⭐⭐⭐</td>
            </tr>
            <tr>
              <td>CSS</td>
              <td>⭐⭐⭐</td>
            </tr>
          </table>
        </td>
        <td>
          <table cellspacing="10">
            <tr>
              <td>Node.js</td>
              <td>⭐⭐</td>
            </tr>
            <tr>
              <td>IOS Swift</td>
              <td>⭐⭐⭐⭐</td>
            </tr>
            <tr>
              <td>SQL Server</td>
              <td>⭐⭐⭐</td>
            </tr>
            <tr>
              <td>.NET C#</td>
              <td>⭐⭐⭐</td>
            </tr>
            <tr>
              <td>WPF</td>
              <td>⭐⭐⭐</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
